.rst-content dl:not(.docutils) dt:first-child {
    margin-top: 0;
}
.rst-content dl:not(.docutils) dt {
    display: table;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    padding: 6px;
    position: relative;
}

#rtd-footer-container {
	display: none;
}


/* Add an accordion-like details section */
details > * {
    padding: 8pt;
    margin: 0;
//    border: thin solid #ccc;
}
details[open] > * {
	//background-color: #eee;
}


details summary {
	font-weight: bold;
}

details > p {
	padding: 0 0 12pt 25pt;
}

details:first-of-type summary {
    border-radius: 10pt 10pt 0 0;
}

details:last-of-type:not([open]) summary {
    border-radius: 0 0 10pt 10pt;
}

details:last-of-type p {
    border-radius: 0 0 10pt 10pt;    
}


details[open] summary::before{
  content: "\00D7";
  margin-right: 1ex;
}

details:not([open]) summary::before{
  content: "\002B ";
  margin-right: 1ex;
}


summary::marker{
  content: "";
}
